.Contenedor-Header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
    font-family: 'Baloo Tammudu 2', cursive;
    background-color: transparent;
    padding-top: 10px;
}


.Contenedor-Logo{
    width: 45%;
    margin: auto 5%;
    text-align: left;
}

.Contenedor-Logo ul li , .link{
    list-style: none;
    color: black;
    font-size: 22px;
    font-weight: 700;
}

.Contenedor-Logo ul{
    width: 100%;
}

.Contenedor-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 55%;
}

.Contenedor-links ul{
    width: 100%;
    list-style: none;
    text-decoration: none;
}

.Contenedor-links ul li .link{
    list-style: none;
    text-decoration: none;
    color: white;
}
.link{
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
}

.Logo{
    color:black;
    font-weight: 600;
    font-size: 50px;
}